{% extends 'base.html' %}

{% block title %}Hardest Climbs{% endblock %}

{% block content %}
            <div class="row g-3">
                <!-- Headline -->
                <div class="col-6 text-center">
                    <h2>Sport Climbing</h2>
                </div>
                <div class="col-6 text-center">
                    <h2>Bouldering</h2>
                </div>

                <!-- Row 1 -->
                {{ climbs | safe }}

                <!-- More -->
                <div class="col-6">
                    <div class="p-3">
                        <a class="btn btn-warning" href="/sport" role="button">See more...</a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3">
                        <a class="btn btn-warning" href="/bouldering" role="button">See more...</a>
                    </div>
                </div>
            </div>
{% endblock %}
