{% macro name_link(name, category) %}{{ name | climber_first_name }} <a href="/{{ category }}/{{ name | climber_last_name | lower }}" class="link-light">{{ name | climber_last_name }}</a>{% endmacro %}

{% macro climb_entry(climb, category, bg) %}
                <div class="col-6">
                    <div class="p-3 bg-{{ bg }} text-white rounded">
                        <h4>{{ climb["name"] }}</h4>
                        <b>Grade:</b> {{ climb["grade"] }} / {{ climb["grade"] | map_grade }}<br>
                        <b>First Ascent:</b> {{ name_link(climb["fa"], category) }}<br>
                        <b>Location:</b> {{ location_link(climb["location"]["country"], climb["location"]["area"], climb["location"]["latitude"], climb["location"]["longitude"]) }}<br>
                        <b>Repeated by:</b> {% for r in climb["repeat"] %}{{ name_link(r, category) }}{% if not loop.last %}, {% endif %}{% endfor %}<br>
                        <b>Videos:</b> {% for name, link in climb["videos"].items() %}<a href="{{ link }}" class="link-warning" target="_blank">{{ name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                    </div>
                </div>
{% endmacro %}

{% macro location_link(country, area, latitude, longitude) %}
    {% if country is defined %}
    <a href="https://www.openstreetmap.org/?mlat={{ latitude }}&mlon={{ longitude }}&zoom=12" class="link-light" target="_blank">
        {{ country }}, {{ area }}
    </a>
    {% endif %}
{% endmacro %}