{% extends 'base.html' %}

{% from 'toolkit.html' import climb_entry %}

{% block title %}Hardest Climbs{% endblock %}

{% block content %}
            <div class="row g-3 justify-content-evenly mt-2">
                <!-- Headline -->
                <div class="col-6 text-center">
                    <h2><a href="/sport?grades={{grades}}" class="link-dark text-decoration-none">Sport Climbing</a></h2>
                </div>
                <div class="col-6 text-center">
                    <h2><a href="/bouldering?grades={{grades}}" class="link-dark text-decoration-none">Bouldering</a></h2>
                </div>

                <!-- Row 1 -->
                {% for index, row in climbs.iterrows() %}
                  {{ climb_entry(row, loop.index0 | bg_alternate, grades) }}
                {% endfor %}

                <!-- More -->
                <div class="col-5">
                    <div class="p-3">
                        <a class="btn btn-warning" href="/sport?grades={{grades}}" role="button">See more...</a>
                    </div>
                </div>
                <div class="col-5">
                    <div class="p-3">
                        <a class="btn btn-warning" href="/bouldering?grades={{grades}}" role="button">See more...</a>
                    </div>
                </div>
            </div>
{% endblock %}
