{% macro name_link(first, last, category) %}
    {{ first  }} <a href="/{{ category }}/{{ last | lower }}" class="link-light">{{ last }}</a>
{% endmacro %}

{% macro climb_entry(climb, category, bg) %}
    <div class="col-5 bg-{{ bg }} text-white rounded">
        <div class="p-3">
            <h4>{{ climb.Climbs.name }}</h4>
            <b>Grade:</b> {{ climb.Grades.french }} / {{ climb.Grades.us }}<br>
            <b>First Ascent:</b>
                {{ name_link(
                    climb.Climbers.first_name,
                    climb.Climbers.last_name,
                    category
                ) }} <br>
            <b>FA Date:</b> {{ climb.Climbs.fa_date }}<br>
            <b>Location:</b>
                {{ location_link(
                    climb.Climbs.country,
                    climb.Climbs.area,
                    climb.Climbs.latitude,
                    climb.Climbs.longitude
                ) }}<br>
        </div>
    </div>
{% endmacro %}

{% macro location_link(country, area, latitude, longitude) %}
    {% if latitude is defined and longitude is defined %}
    <a href="https://www.openstreetmap.org/?mlat={{ latitude }}&mlon={{ longitude }}&zoom=12" class="link-light" target="_blank">
        {{ country }}, {{ area }}
    </a>
    {% elif country is defined %}
    {{ country }}, {{ area }}
    {% endif %}
{% endmacro %}
