{% macro name_link(name, category, grades) %}
    {{ name | climber_first_name }}
    <a href="/{{ category }}/climber/{{ name | climber_first_name | lower }}+{{ name | climber_last_name | lower }}?grades={{ grades }}" class="link-light">
    {{ name | climber_last_name }}</a>
{% endmacro %}

{% macro route_link(name, key, category, grades) %}
    {% if category == "sport" %}
        <a href="/{{ category }}/route/{{ key }}?grades={{ grades }}" class="link-light link-underline link-underline-opacity-0">{{ name }}</a>
    {% elif category == "bouldering" %}
        <a href="/{{ category }}/problem/{{ key }}?grades={{ grades }}" class="link-light link-underline link-underline-opacity-0">{{ name }}</a>
    {% endif %}
{% endmacro %}

{% macro climb_entry(climb, bg, grades, size) %}
    <div class="col-{{size or 5}} bg-{{ bg }} text-white rounded">
        <div class="p-3">
            <h4>{{ route_link(climb["name"], climb["route_key"], climb["style"], grades)}}</h4>
            {% if grades == "fr" %}
                <b>Grade:</b> {{ climb["french"] }}<br>
            {% elif grades == "us" %}
                <b>Grade:</b> {{ climb["us"] }}<br>
            {% endif %}
            <b>First Ascent:</b> {{ name_link(climb["fa"], climb["style"], grades) }}<br>
            <b>FA Date:</b> {{ climb["date"] }}<br>
            <b>Location:</b> {{ location_link(climb["location"]["country"], climb["location"]["area"], climb["location"]["latitude"], climb["location"]["longitude"]) }}<br>
            <b>Repeated by:</b> {% for r in climb["repeat"] %}{{ name_link(r, climb["style"], grades) }}{% if not loop.last %}, {% endif %}{% endfor %}<br>
            <b>Videos:</b> {% for name, link in climb["videos"].items() %}<a href="{{ link }}" class="link-warning link-underline link-underline-opacity-0" target="_blank">{{ name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro location_link(country, area, latitude, longitude) %}
    {% if latitude is defined and longitude is defined %}
    <a href="https://www.openstreetmap.org/?mlat={{ latitude }}&mlon={{ longitude }}&zoom=12" class="link-light" target="_blank">
        {{ country }}, {{ area }}
    </a>
    {% elif country is defined %}
    {{ country }}, {{ area }}
    {% endif %}
{% endmacro %}